**/bin
**/obj
**/library
**/debug
**/release
**/temp
**/StreamingAssets
**/.vs
**/__pycache__
**/ipch
*.user
*.opendb
*.db
*.sln
*.pdb
**/Binary
/Thunisoft.Demo.sln.DotSettings
Unity.Abstractions.dll
Unity.Container.dll
Unity.Interception.dll
Unity.Abstractions.5.11.6/.signature.p7s
Unity.Abstractions.5.11.6/Unity.Abstractions.5.11.6.nupkg
Unity.Abstractions.5.11.6/lib/net40/Unity.Abstractions.dll
Unity.Abstractions.5.11.6/lib/net45/Unity.Abstractions.dll
Unity.Abstractions.5.11.6/lib/net46/Unity.Abstractions.dll
Unity.Abstractions.5.11.6/lib/net47/Unity.Abstractions.dll
Unity.Abstractions.5.11.6/lib/net48/Unity.Abstractions.dll
Unity.Abstractions.5.11.6/lib/netcoreapp1.0/Unity.Abstractions.dll
Unity.Abstractions.5.11.6/lib/netcoreapp2.0/Unity.Abstractions.dll
Unity.Abstractions.5.11.6/lib/netcoreapp3.0/Unity.Abstractions.dll
Unity.Abstractions.5.11.6/lib/netstandard1.0/Unity.Abstractions.dll
Unity.Abstractions.5.11.6/lib/netstandard2.0/Unity.Abstractions.dll
Unity.Container.5.11.8/.signature.p7s
Unity.Container.5.11.8/Unity.Container.5.11.8.nupkg
Unity.Container.5.11.8/lib/net40/Unity.Container.dll
Unity.Container.5.11.8/lib/net45/Unity.Container.dll
Unity.Container.5.11.8/lib/net46/Unity.Container.dll
Unity.Container.5.11.8/lib/net47/Unity.Container.dll
Unity.Container.5.11.8/lib/net48/Unity.Container.dll
Unity.Container.5.11.8/lib/netcoreapp1.0/Unity.Container.dll
Unity.Container.5.11.8/lib/netcoreapp2.0/Unity.Container.dll
Unity.Container.5.11.8/lib/netcoreapp3.0/Unity.Container.dll
Unity.Container.5.11.8/lib/netstandard1.0/Unity.Container.dll
Unity.Container.5.11.8/lib/netstandard2.0/Unity.Container.dll
Unity.Interception.5.11.1/.signature.p7s
Unity.Interception.5.11.1/Unity.Interception.5.11.1.nupkg
Unity.Interception.5.11.1/lib/net45/Unity.Interception.dll
Unity.Interception.5.11.1/lib/net46/Unity.Interception.dll
Unity.Interception.5.11.1/lib/net47/Unity.Interception.dll
Unity.Interception.5.11.1/lib/netcoreapp2.0/Unity.Interception.dll
Unity.Interception.5.11.1/lib/netstandard2.0/Unity.Interception.dll
packages/System.Runtime.CompilerServices.Unsafe.4.5.2/.signature.p7s
packages/System.Runtime.CompilerServices.Unsafe.4.5.2/LICENSE.TXT
packages/System.Runtime.CompilerServices.Unsafe.4.5.2/System.Runtime.CompilerServices.Unsafe.4.5.2.nupkg
packages/System.Runtime.CompilerServices.Unsafe.4.5.2/THIRD-PARTY-NOTICES.TXT
packages/System.Runtime.CompilerServices.Unsafe.4.5.2/useSharedDesignerContext.txt
packages/System.Runtime.CompilerServices.Unsafe.4.5.2/version.txt
packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
packages/Unity.5.11.9/.signature.p7s
packages/Unity.5.11.9/Unity.5.11.9.nupkg
Thunisoft.Demo/packages.config
packages/
